Source: ros-melodic-jderobot-color-tuner
Section: misc
Priority: optional
Maintainer: Pankhuri Vanjani <pankhurivanjani@gmail.com>
Build-Depends: debhelper (>= 9.0.0), python-rospkg, ros-melodic-catkin, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Homepage: 
Standards-Version: 3.9.2

Package: ros-melodic-jderobot-color-tuner
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, python-rospkg, ros-melodic-cv-bridge, ros-melodic-image-transport, ros-melodic-roslib, ros-melodic-rospy, ros-melodic-sensor-msgs, ros-melodic-std-msgs
Description: The jderobot_color_tuner tool package
